.modal-header
  h3.modal-title {{title()}}
.modal-body
  form
    .row
      .col-md-12
        code {{file_name()}}
    .row(ng-show="show_rule()")
      .col-md-1
      .col-md-1
        span.glyphicon.glyphicon-arrow-down
    .row(ng-show="show_rule()")
      .col-md-12
        ol.breadcrumb
          li {{dst_folder()}}
          li {{renamed()}}
    .row
      | &nbsp;
    .row
      .col-md-8
        .form-group(ng-class="name_error")
          label.control-label Name Pattern
          input.form-control(type="text" ng-model="entry.rule.pattern" tabindex=1)
          input(type="checkbox" ng-model="entry.rule.include_folder" tabindex=-1)
          | &nbsp; Include folder name for pattern matching
      .col-md-2
        .form-group
          label Ext Pattern
          input.form-control(type="text" ng-model="entry.rule.ext" tabindex=2)
      .col-md-2
        .form-group
          label Action
          select.form-control(ng-model="entry.rule.action" ng-options="a.value as a.label for a in actions" tabindex=3)
    .row(ng-show="show_rule()")
      .col-md-2
        .form-group(ng-class="kind_error")
          label.control-label Kind
          select.form-control(ng-model="entry.rule.kind" ng-options="k.value as k.label for k in kinds" tabindex=4)
      .col-md-4
        .form-group(ng-class="folder_error")
          label.control-label {{kind()}} Folder
          input.form-control(type="text" ng-model="entry.rule.name" tabindex=5)
      .col-md-6
        label Rename
        input.form-control(type="text" ng-model="entry.rule.rename" tabindex=6)
    .row
      | &nbsp;
    .row
      .col-md-12
        span.help-block
          | {{help_message()}} &nbsp;
.modal-footer
  button.btn.btn-danger(ng-click="delete()" tabindex=-1) Delete
  button.btn.btn-warning(ng-click="cancel()" tabindex=-1) Cancel
  button.btn.btn-success(ng-click="copy()" tabindex=-1) Copy
  button.btn.btn-primary(ng-click="ok()" tabindex=-1) Save
