h1 Home

button.btn.btn-primary(type="button" ng-click="test_run()" tabindex=-1) Test Run

table.table.table-hover(ng-repeat="tran in transfers" ng-show="show_result")
  thead
    tr
      th(colspan=4) {{tran.name}}
  tbody
    tr(ng-repeat-start="entry in tran.files" ng-class="result_class(entry)")
      td {{entry.name}}
      td {{entry.rule.pattern}}
      td {{entry.rule.ext}}
      td
        | {{entry.rule.action}}
        div(style="display: inline-block; float: right;")
          a(ng-click="edit_rule(tran, entry)")
            span.glyphicon.glyphicon-edit
    tr(ng-repeat-end ng-show="show_rule(entry)")
      td(colspan=4 ng-class="result_class(entry)")
        span.label.label-default {{kind(entry)}}
        ol.breadcrumb.inline
          li {{dst_folder(entry)}}
          li {{entry.renamed}}
p
.alert.alert-warning(ng-show="show_message")
  | Nothing finished
p
.btn.btn-primary(ng-show="show_run" ng-click="run()") Run
p
table.table
  tr(ng-repeat="entry in running track by $index")
    td(ng-class="entry.class") {{entry.str}}
p
.progress(ng-show="show_progress")
  .progress-bar(role="progressbar" style="width: {{progress}}%")
    | {{dst_size}}

button.btn.btn-primary(type="button" ng-click="test_run()" ng-show="show_test" tabindex=-1) Test Run Again
