doctype html
html(ng-app="maid")
  head
    meta(charset="utf-8")
    title Maid
    link(href="../bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css")
    link(href="../bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(href="maid.css" rel="stylesheet" type="text/css")
  body
    .navbar.navbar-default.navbar-fixed-top(ng-controller="MenuCtrl")
      ul.nav.navbar-nav
        li(ng-class="{ active: is_active('/home')}")
          a(href="#/home" tabindex=-1) Home
        li(ng-class="{ active: is_active('/rules')}")
          a(href="#/rules" tabindex=-1) Rules
        li(ng-class="{ active: is_active('/images')}")
          a(href="#/images" tabindex=-1) Images
        li(ng-class="{ active: is_active('/scraping')}")
          a(href="#/scraping" tabindex=-1) Scraping
        li(ng-class="{ active: is_active('/settings')}")
          a(href="#/settings" tabindex=-1) Settings

    .container-fluid
      div(ng-view)

    script(src="../bower/angular/angular.js")
    script(src="../bower/angular-route/angular-route.js")
    script(src="../bower/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="../maid.js")
    script(src="../scraping.js")
