h1 Rules
table.table
  thead
    th Ord
    th Pattern
    th Ext
    th Action
    th As
    th Name
    th Rename
    th
  tbody
    tr(ng-repeat="rule in rules")
      td
        | {{rule.order}}
      td
        code {{rule.pattern}}
      td
        code {{rule.ext}}
      td
        | {{rule.action}}
      td
        | {{rule.kind}}
      td
        | {{rule.name}}
      td
        | {{rule.rename}}
      td
        div(style="width:3em;")
          a.small-padding(ng-click="up_rule(rule)")
            span.glyphicon.glyphicon-arrow-up
          a.small-padding(ng-click="down_rule(rule)")
            span.glyphicon.glyphicon-arrow-down
          div(style="display: inline-block; float: right;")
            a.small-padding(ng-click="edit_rule(rule)")
              span.glyphicon.glyphicon-edit
