h1 Settings
div
form.form-horizontal
  .form-group
    label.col-md-2.control-label TV Show Folder
    .col-md-9
      input.form-control(type='text' ng-model="settings.tvshow_folder")
  .form-group
    label.col-md-2.control-label Movie Folder
    .col-md-9
      input.form-control(type='text' ng-model="settings.movie_folder")
  .form-group
    label.col-md-2.control-label Porn Folder
    .col-md-9
      input.form-control(type='text' ng-model="settings.porn_folder")
  .form-group
    .col-md-2
    .col-md-9
      button.btn.btn-primary(ng-click="save()") Save
