h1 Settings
div
form.form-horizontal
  .form-group
    label.col-md-2.control-label TV Show Folder
    .col-sm-9
      input.form-control(type='text')
  .form-group
    label.col-md-2.control-label Movie Folder
    .col-sm-9
      input.form-control(type='text')
  .form-group
    label.col-md-2.control-label Porn Folder
    .col-sm-9
      input.form-control(type='text')
